<launch>
    <rosparam command="load" file="$(find rigid2d)/config/fake_turtle_param.yaml" />
    <rosparam command="load" file="$(find nurtlesim)/config/noise_param.yaml" />
    <rosparam command="load" file="$(find nurtlesim)/config/tube_param.yaml" />

    <node name="tube_world" pkg="nurtlesim" type="tube_world" />
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nurtlesim)/config/nurtlesim.rviz --opengl 210"/>

</launch>
