<launch>
    <arg name="circle" default="false" doc="if the turtlebot should follow a circle" />
    <arg name="robot" default="localhost" doc="the hostname of the turtlebot" />
    <machine name="turtlebot" address="$(arg robot)" env-loader="/home/ubuntu/loader.sh" user="ubuntu" />

    <node pkg="nuturtle_robot" type="follow_circle" name="follow_circle">
        <param name="speed" value="0.03"/>
        <param name="radius" value="0.2"/>
    </node>



    <rosparam command="load" file="$(find rigid2d)/config/fake_turtle_param.yaml" />
    <param name="robot_description" command="$(find xacro)/xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="odometer" pkg="rigid2d" type="odometer" machine="turtlebot"/>

    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rigid2d)/config/fake_turtle.rviz"/>


    <node name="turtle_interface" pkg="nuturtle_robot" type="turtle_interface" machine="turtlebot" />



    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" machine="turtlebot">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>
</launch>